annotated-types==0.7.0
cloudpickle==3.1.2
iniconfig==2.3.0
joblib==1.5.3
llvmlite==0.47.0
narwhals==2.22.1
numba==0.65.1
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
scikit-learn==1.9.0
scipy==1.17.1
shap==0.52.0
six==1.17.0
slicer==0.0.8
threadpoolctl==3.6.0
tqdm==4.68.2
typing-inspection==0.4.2
typing_extensions==4.15.0
